@import '../../theme/vars';

.button {
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 1rem;
  margin: 0 .25rem;
  font-size: .875rem;
  white-space: nowrap;
  text-align: center;
  background: none;
  background-color: $button-bg;
  border: none;
  border-radius: $border-radius;
  transition: background-color 300ms ease-out;
  cursor: pointer;

  &[disabled] {
    opacity: .5;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &, &:hover, &:focus, &:active {
    outline: none;
  }

  &:hover {
    background-color: $button-bg-hover;
  }

  &:active {
    background-color: $button-bg-active;
  }

  &--primary {
    background: $color-primary;
    color: $color-primary-text;

    &:hover {
      background: $color-primary-light;
    }

    &:active {
      background: $color-primary-dark;
    }
  }

  &--secondary {
    background: $color-secondary;
    color: $color-secondary-text;

    &:hover {
      background: $color-secondary-light;
    }

    &:active {
      background: $color-secondary-dark;
    }
  }

  &--outline {
    transition: border 300ms ease-out, color 300ms ease-out;
  }

  &--outline#{&}--secondary {
    background: none;
    border: solid 1px transparent;
    color: $color-secondary;

    &:hover {
      color: $color-secondary-light;
      border-color: $color-secondary-light;
    }

    &:active {
      color: $color-secondary-dark;
      border-color: $color-secondary-dark;
    }
  }
}
