@import '../../theme/vars';

.group-editor {
  padding: .5rem 1.5rem;
  border-bottom: solid 1px $grey-light;

  label {
    display: block;
  }

  &__tabs {
    &--disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
}
