@import '../../theme/vars';

.group-selector {
  position: relative;
  min-width: 240px;
  user-select: none;

  $group-selector-height: 36px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 1rem;
    line-height: $group-selector-height;
    height: $group-selector-height;
    background: #fff;
    border: solid 1px $grey-light;
    border-radius: $border-radius;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 100ms ease-out;

    &:hover {
      border-color: $color-primary;
    }
  }

  &__label {
    flex: 0 1 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__icon {
    flex: 0 0 auto;
    transition: transform 300ms ease-out;
  }

  &__options {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    border-radius: $border-radius;
    padding: .5rem 0;
    z-index: $zindex-dropdown;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  &__option {
    font-size: 1rem;
    line-height: 3rem;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  &--open &__icon {
    transform: rotate(180deg);
  }

  &--open &__options {
    display: block;
  }
}
