$body-font-size: 16px;
$body-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$border-radius: 3px;

$color-primary: #42A5F5;
$color-primary-light: #6ab7ff;
$color-primary-dark: #005cb2;
$color-secondary: #E53935;
$color-secondary-light: #ff6f60;
$color-secondary-dark: #ab000d;
$color-primary-text: #fafafa;
$color-secondary-text: #fafafa;

$grey-light: #eee;

$text-color: #212121;
$text-color-muted: #BDBDBD;
$text-color-light: #FAFAFA;

$button-bg: #EEEEEE;
$button-bg-hover: #f0f0f0;
$button-bg-active: #ccc;

$input-padding-x: 1rem;
$input-padding-y: 0;
$input-height: 36px;

$zindex-dropdown: 1000;



