$body-font-size: 16px;
$body-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$border-radius: 4px;

// $color-primary: #2196f3;
// $color-primary-light: #64b5f6;
// $color-primary-dark: #1565c0;
$color-primary: #1a73e8;
$color-primary-light: #69a1ff;
$color-primary-dark: #0049b5;
$color-secondary: #e53935;
$color-secondary-light: #ff6f60;
$color-secondary-dark: #ab000d;
$color-primary-text: #fafafa;
$color-secondary-text: #fafafa;

$grey-light: #eee;

$text-color: #212121;
$text-color-muted: #bdbdbd;
$text-color-light: #fafafa;

$underline-color: rgba(0, 0, 0, 0.12);

$button-bg: #eeeeee;
$button-bg-hover: #f0f0f0;
$button-bg-active: #ccc;

$input-padding-x: 0.5rem;
$input-padding-y: 0;
$input-height: 2rem;

$zindex-dropdown: 1000;
