@import '../../theme/vars';

.header {
  padding: 1rem 1rem 0;
  user-select: none;

  &__title {
    height: 28px;
    vertical-align: top;
  }

  &__dev {
    color: $text-color-muted;
    font-family: monospace;
    margin: .5rem;
  }
}
