@import './theme/main';

html,
body {
  margin: 0;
  padding: 0;
  width: 600px;
  min-height: 100px;
  max-height: 600px;
  overflow: auto;
}

* {
  box-sizing: border-box;
  font-family: $body-font-family;
}

body {
  background: #fff;
  font-size: $body-font-size;
  font-family: $body-font-family;
  min-width: 200px;
  color: $text-color;
  fill: $text-color;
}
