@import '../../theme/vars';

.group-create {
  padding: 0.5rem 0 0;

  &__tabs-check {
    padding: 0.5rem 0;
  }

  &__tabs {
    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
