@import '../../theme/vars';

.actions {
  padding: .5rem 1rem;
  border-bottom: solid 1px $underline-color;

  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__content {}

  &__add-tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0 0;

    .group-selector {
      flex: 0 1 100%;
      margin-right: .25rem;
    }

    .button {
      flex: 0 0 auto;
    }
  }
}
